// Cores do projeto
:root {
  --azul-oceano: #3AAED8;
  --azul-claro: #B3E5FC;
  --cinza-azulado: #37474F;
  --cinza-muito-claro: #ECEFF1;
  --branco: #FFFFFF;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--cinza-muito-claro);
  color: var(--cinza-azulado);
}